apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: thugnerdz-og-cert-issuer
spec:
  selfSigned: {}
```

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: thugnerdz-og-cert
spec:
  dnsNames:
  - og.thugnerdz.com
  isCA: true
  commonName: "thugnerdz-og-cert"
  secretName: thugnerdz-og-vs-secret
  issuerRef:
    name: thugnerdz-og-cert-issuer
    kind: Issuer
    group: cert-manager.io
  usages:
  - digital signature
  - key encipherment
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Always
```

apiVersion: apps/v1
kind: Deployment
metadata:
  name: thugnerdz-og-deployment
  labels:
    app: thugnerdz-og
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thugnerdz-og
  template:
    metadata:
      labels:
        app: thugnerdz-og
    spec:
      securityContext:
        runAsGroup: 3000
        fsGroup: 2000
      containers:
      - name: thugnerdz-og
        image: quay.io/muck/og-fe:latest
        ports:
        - containerPort: 9223
          name: html
```

apiVersion: v1
kind: Service
metadata:
  name: thugnerdz-og
spec:
  ports:
  - port: 9223
    protocol: TCP
    targetPort: 9223
    name: ogport
  selector:
    app: thugnerdz-og
```

apiVersion: k8s.nginx.org/v1
kind: VirtualServer
metadata:
  name: thugnerdz-og-vs
spec:
  host: og.thugnerdz.com
  tls:
    secret: thugnerdz-og-vs-secret
    cert-manager:
      cluster-issuer: selfsigned-issuer
  upstreams:
  - name: thugnerdz-og
    service: thugnerdz-og
    port: 9223
    type: http
  routes:
  - path: /
    action:
      pass: thugnerdz-og
